@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto' Arial, sans-serif;
}

header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex; 
}

aside {
    background-color: #f0f0f0;
    padding: 2px;
    width: 15%; 
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
    padding: 10px;
    gap: 10px; 
    flex: 1; 
}


